<form name="registrationForm">
    <div class="transparnt-bg m-t-2" data-ng-controller="dashboardCtrl as regDashboard">
        <div class="logo-inner text-center"><img src="images/logo-dark.png" height="199" width="308"/></div>
        <p class="text-center service-page-text">We are happy you are joining our platform. Together we can increase sales of your catering.<br/>
            Please provide us some information to help us improve your Catering sales</p>
        <div class="text-center"><img src="images/devider-line.png" height="12" width="203"/></div>
        <div class="row mb25 mt30">
            <div class="col-md-12">
                <div class="box-tab justified">
                    <ul class="nav nav-tabs">
                        <li class="position-r" ng-class="{active:regDashboard.selectedTab === 'company'}"> 
                            <a data-toggle="tab" ng-click="regDashboard.selectTab(registrationForm, 'company')" aria-expanded="false">
                                <img src="images/company.png" height="49" width="49"/>
                            </a>
                            <p class="active-text">Company</p>
                            <span class="process-bar"><img src="images/process-bar-active.png" height="3" width="214"/></span> </li>
                        <li class="position-r" ng-class="{active:regDashboard.selectedTab === 'aboutFood'}">
                            <a data-toggle="tab" ng-click="regDashboard.selectTab(registrationForm, 'aboutFood');" aria-expanded="false"><img src="images/food.png" height="49" width="49"/></a>
                            <p class="inactive-text">Tell us about your food</p>
                            <span class="process-bar"><img src="images/process-bar-inactive.png" height="3" width="214"/></span> </li>
                        <li class="position-r" ng-class="{active:regDashboard.selectedTab === 'serviceOffered'}">
                            <a data-toggle="tab" ng-click="regDashboard.selectTab(registrationForm, 'serviceOffered')" aria-expanded="false"><img src="images/service-offerd.png" height="49" width="49"/></a>
                            <p>Service you offerd</p>
                            <span class="process-bar"><img src="images/process-bar-inactive.png" height="3" width="214"/></span> </li>
                        <li class="" ng-class="{active:regDashboard.selectedTab === 'info'}">
                            <a data-toggle="tab" ng-click="regDashboard.selectTab(registrationForm, 'info');" aria-expanded="false"><img src="images/info.png" height="49" width="49"/></a>
                            <p>Company Info</p>
                        </li>
                    </ul>
                    <div class="service-info">
                        <div class="tab-content">
                            <div id="home4" ng-class="{active:regDashboard.selectedTab === 'company'}" ng-show="regDashboard.selectedTab === 'company'">
                                <form class="form-horizontal">
                                    <div class="outer pull-left">
                                        <div class="col-sm-6 service-input">
                                            <div class="m-b-30" ng-class="{'has-error': (registrationForm.companyName.$invalid && registrationForm.companyName.$dirty)}">
                                                <input name="companyName" class="form-control" placeholder="Comany Name" ng-model="regDashboard.companyDetails.companyName" required/>
                                                <div class="error,help-block" ng-show="(registrationForm.companyName.$dirty) && registrationForm.companyName.$invalid"> 
                                                    <span class="help-block" ng-show="registrationForm.companyName.$error.required">Company name is required</span>
                                                </div>
                                            </div>
                                            <input type="file" multiple  class="file">
                                            <!--<div class="input-group browse col-xs-12 m-b-30"> <span class="input-group-addon"><i class="glyphicon glyphicon-picture"></i></span>-->

                                            <div class="col-xs-12 m-b-30 drop" flow-init="regDashboard.uploadFile"
                                                 flow-name="regDashboard.uploadPhoto.flow"
                                                 flow-file-success="regDashboard.uploadImageSuccess( $file, $message, $flow )"
                                                 flow-file-added="regDashboard.imageAdded( $file, $event, $flow )"
                                                 flow-files-submitted="regDashboard.uploadImage( $files, $event, $flow )"
                                                 flow-file-error="regDashboard.uploadImageFailure( $file, $message, $flow )"
                                                 flow-file-progress="regDashboard.uploadImageProgress()"
                                                 flow-drop>
                                                <span><span class="browse btn btn-orange" flow-btn> <i class="glyphicon glyphicon-search"/> Browse</span> <strong>OR</strong> Drag and drop your image(s) here</span>
                                                <table>
                                                    <tr ng-repeat="file in $flow.files">
                                                        <td><img flow-img="file" style="height: 25px;width: 25px;"></td>
                                                        <td> &nbsp; {{file.name}}</td>
                                                        <td> &nbsp; {{file.msg}}</td>
                                                    </tr>
                                                </table>
                                            </div>
                                            <uib-progressbar animate="true" ng-show="regDashboard.showProgressBar"  value="$file.progress() * 100" class="customProgressBar progress-striped active" max="100"></uib-progressbar>
                                        </div>
                                        <div class="col-sm-6 service-input">
                                            <textarea rows="5" cols="100%" class="form-control m-b-30" placeholder="Description of your Company" ng-model="regDashboard.companyDetails.companyDescription"></textarea>
                                            <div class="m-b-30" ng-class="{'has-error': (registrationForm.companyName1.$invalid && registrationForm.companyName1.$dirty)}">
                                                <input name="companyName1" class="form-control" placeholder="Comany Name" ng-model="regDashboard.companyDetails.companyName1" required/>
                                                <div class="error,help-block" ng-show="(registrationForm.companyName1.$dirty) && registrationForm.companyName1.$invalid"> 
                                                    <span class="help-block" ng-show="registrationForm.companyName1.$error.required">Company name is required</span>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-sm-12">
                                            <button class="btn btn-orange pull-right continue-btn" ng-click="regDashboard.selectTab(registrationForm, 'aboutFood');" ng-disabled="!registrationForm.$valid">Continue <i class="fa fa-arrow-right"></i></button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                            <div class="tab-pane" ng-class="{active:regDashboard.selectedTab === 'aboutFood'}" ng-show="regDashboard.selectedTab === 'aboutFood'">
                                <form class="form-horizontal">
                                    <div class="outer col-sm-12 service-input">
                                        <div class="col-sm-6">
                                            <input class="form-control m-b-30" placeholder="What type of cuisine you serve " ng-model="regDashboard.companyDetails.typeOfCuisines"/>
                                            <input class="form-control m-b-30" placeholder="Do you provide special need  " ng-model="regDashboard.companyDetails.specialNeeds"/>
                                            <p class="text-white">Number of people you serve</p>
                                            <input class="form-control m-b-30" placeholder="Min" ng-model="regDashboard.companyDetails.minPerson"/>
                                            <input class="form-control m-b-30" placeholder="Max" ng-model="regDashboard.companyDetails.maxPerson"/>
                                            <input class="form-control m-b-30" placeholder="How many days before a client have to order." ng-model="regDashboard.companyDetails.orderDays"/>
                                        </div>
                                        <div class="col-sm-6 service-input">
                                            <input class="form-control m-b-30" placeholder="Cancellation notice period(in days)" ng-model="regDashboard.companyDetails.cancellationDuration"/>
                                            <input class="form-control m-b-30" placeholder="Minimum amount to order." ng-model="regDashboard.companyDetails.minOrderAmount"/>
                                            <p class="text-white">Do you offer delivery ( Yes / No )</p>
                                            <label class="switch switch-lg mb15 pull-left m-b-30 mt5">
                                                <input type="checkbox" checked="" ng-model="regDashboard.companyDetails.delivery">
                                                <span> <i class="handle"></i> </span> </label>
                                            <input class="form-control m-b-30" placeholder="How many kilometers around you deliver" ng-hide='!regDashboard.companyDetails.delivery' ng-model="regDashboard.companyDetails.deliveryKms"/>
                                        </div>
                                        <div class="col-sm-12">
                                            <button class="btn btn-orange pull-right continue-btn " ng-click="regDashboard.selectTab(registrationForm, 'serviceOffered');">Continue <i class="fa fa-arrow-right"></i></button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                            <div class="tab-pane" ng-class="{active:regDashboard.selectedTab === 'serviceOffered'}" ng-show="regDashboard.selectedTab === 'serviceOffered'">
                                <form class="form-horizontal">
                                    <div class="outer col-sm-12 service-input">
                                        <div class="col-sm-12">
                                            <input class="form-control m-b-30" placeholder="What type of cuisine you serve " ng-model="regDashboard.companyDetails.typeOfCuisines"/>
                                        </div>
                                        <div class="col-sm-12">
                                            <input class="form-control m-b-30" placeholder="Do you provide special need  " ng-model="regDashboard.companyDetails.specialNeeds"/>
                                        </div>
                                        <div class="col-sm-12">
                                            <input class="form-control m-b-30" placeholder="What type of cuisine you serve " ng-model="regDashboard.companyDetails.typeOfCuisines"/>
                                        </div>
                                        <div class="col-sm-12">
                                            <button class="btn btn-orange pull-right continue-btn " ng-click="regDashboard.selectTab(registrationForm, 'info');">Continue <i class="fa fa-arrow-right"></i></button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                            <div id="contacts4" class="tab-pane" ng-class="{active:regDashboard.selectedTab === 'info'}" ng-show="regDashboard.selectedTab === 'info'">
                                <form class="form-horizontal">
                                    <div class="outer col-sm-12 service-input">
                                        <div class="col-sm-12">
                                            <input class="form-control m-b-30" placeholder="Enter your CIF /NIF Number " ng-model="regDashboard.companyDetails.registrationNumber"/>
                                        </div>
                                        <div class="col-sm-12">
                                            <input class="form-control m-b-30" placeholder="Enter your Company Address  " ng-model="regDashboard.companyDetails.address"/>
                                        </div>
                                        <div class="col-sm-4">
                                            <input class="form-control m-b-30" placeholder="Enter your postal code" ng-model="regDashboard.companyDetails.postalCode"/>
                                        </div>
                                        <div class="col-sm-4">
                                            <input class="form-control m-b-30" placeholder="City" ng-model="regDashboard.companyDetails.city"/>
                                        </div>
                                        <div class="col-sm-4">
                                            <input class="form-control m-b-30" placeholder="Telephone number " ng-model="regDashboard.companyDetails.contactNumber"/>
                                        </div>
                                        <div class="col-sm-4">
                                            <input class="form-control m-b-30" placeholder="Email " type="email" ng-model="regDashboard.companyDetails.email"/>
                                        </div>
                                        <div class="col-sm-4">
                                            <input class="form-control m-b-30" placeholder="Bank Name " ng-model="regDashboard.companyDetails.bankName"/>
                                        </div>
                                        <div class="col-sm-4">
                                            <input class="form-control m-b-30" placeholder="IBAN NUmber  " ng-model="regDashboard.companyDetails.ibanNumber"/>
                                        </div>
                                        <div class="col-sm-12">
                                            <button class="btn btn-orange pull-right continue-btn " ng-click="regDashboard.register();">Submit</button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>