   <div class="modal-header bg-green-dark-package">
    <span style="font-size: 22px;" class="modal-title">ID : </span><span>{{catererId}}</span>
    </div>
    <div class="modal-body package-detail">
    <form role="form" class="form-horizontal bordered-group ng-pristine ng-valid">

    
        
    <div class="form-group">
    <label class="col-sm-3 control-label">Name : </label>
    <div class="col-sm-9" >
     <label class="control-label"> {{catererData.catererName}}</label>
    </div>
    </div>


    <div class="form-group">
    <label class="col-sm-3 control-label">Email : </label>
    <div class="col-sm-9" >
        <label class="control-label"> {{catererData.catererEmail}}</label>
    </div>
    </div>

    <div class="form-group">
    <label class="col-sm-3 control-label">Company Name : </label>
    <div class="col-sm-9">
        <label class="control-label"> {{catererData.CompanyName}}</label>
    </div>
    </div>

    <div class="form-group">
    <label class="col-sm-3 control-label">Mobile Number : </label>
    <div class="col-sm-9">
        <label class="control-label"> {{catererData.catererMobile}}</label>
    </div>
    </div>

    <div class="form-group">
    <label class="col-sm-3 control-label">Decription : </label>
    <div class="col-sm-9">
        <label class="control-label"> {{catererData.description}}</label>
    </div>
    </div>

    <div class="form-group">
    <label class="col-sm-3 control-label">Address : </label>
    <div class="col-sm-9">
        <label class="control-label"> {{catererData.address}}</label>
    </div>
    </div>

    

    <div class="form-group">
    <div class="panel-body"> 
   
        </div>
   
    </div>

    </div>    
    <div class="modal-footer">
    
    <button class="btn btn-warning btn-sm" ng-click="closeModal()">Cancel</button>
    </div>
    </form>
    </div>
    </div>   