<div class="row" ng-controller="CalendarCtrl" ng-init="initCalendar()">
    <div class="col-sm-3">

        <!--    <button type="button" class="btn btn-green" data-ng-click="addEvent()">
              <span class="fa fa-plus mr5"></span>
              <span>Add new event</span>
            </button>-->
        <span  class="btn-green col-sm-12 center-content">Todays event</span>
        <br/>
        <hr>

        <ul class="external-events">
            <li ng-repeat="e in events">
                <div class="external-event event-primary">
                    <div class="row">
                        <div class="col-sm-12">
                            <input ng-model="e.order_event" class="form-control no-border no-bg pl0 danger">
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-sm-6">
                            <small>Order Id : <span style="color:#7bc147">{{e.id}}</span></small><br/>
                            <small>Customer : <span style="color:#7bc147">{{e.customer_name}}</span></small><br/>
                        </div>
                        <div class="col-sm-6">
                            <small>Location :<span style="color:#7bc147"> {{e.order_location}}</span></small><br/>
                            <small> Price : <span style="color:#7bc147">{{e.totalAmount}}&euro;</span></small><br/>
                        </div>
                    </div>
                    <div class="row ">
                        <div class="col-sm-12 small">
                            Product :
                            <div ng-repeat="item in e.items" style="color:#7bc147">
                                {{item.itemName}}  :  {{item.totalNumber}}
                            </div>
                        </div>
                    </div>
                </div>
            </li>
        </ul>

    </div>
    <div class="col-sm-9">
        <div class="calendar-viewer">
            <div ui-calendar="uiConfig.calendar" class="fullcalendar" calendar="myCalendar" ng-model="eventSources"></div>
        </div>
    </div>
</div>
