<div data-ng-controller="galleryCtrl" ng-init="getUserPackages()">
    <div class="col-sm-12" style="margin-top:-20px;">
        <button ui-sref="app.apps.newpackage" class="btn btn-green mb20"><span class="fa fa-plus mr5"></span><span> New Package</span></button>
    </div>
    <hr>

    <div class="row">
        <div class="gallery">
            <div class="col-md-3 col-sm-4 col-xs-6 img-data" data-ng-repeat="userPack in userPackages">
                <div class="text-center">
                    <img data-ng-src="{{userPack.image}}" ng-if="userPack.image != ''" style="height: 150px;max-width: 100%">
                    <img ng-if="userPack.image == ''" src="images/def-order-online.png" style="height: 150px;">
                    <div class="black-overlay" style="width:100%;padding:10px;cursor: pointer;z-index: 1"  ng-click="getPackageDetail(userPack)">
                        <div class="col-sm-12" style="z-index: 2">
                            <span class="pull-right cursor large" style="color: red;padding: 10px" ng-click="deletePackage($index)"><i class="glyphicon glyphicon-trash"></i></span>
                        </div>
                        <div class="col-sm-12">
                            <p class="img-data-heading">{{userPack.title}}</p>
                            <p class="img-border-line"></p>
                            <p class="img-data-heading-inner">{{userPack.desc}}</p>
                        </div>
                    </div>
                    <div  style="padding-top: 10px" >
                        <p><span class="text-bluegrey bold-font">{{userPack.name}}</span></p>
                        <p><span class="bold-font" >No. of Serve:</span> <span class="text-danger bold-font">{{userPack.qty}}</span><span style="margin-left: 50px;" class="bold-font">&euro;{{userPack.price}}</span></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- The Bootstrap Image Gallery lightbox, should be a child element of the document body -->
    <script type="text/ng-template" id="packageDetail.html">
        <div>
        <div class="modal-header bg-green-dark-package">
        <h3 class="modal-title">Package Detail</h3>
        </div>
        <div class="modal-body package-detail package-standerd">
        <form role="form" class="form-horizontal bordered-group ng-pristine ng-valid">
        <div class="form-group">
        <label class="col-sm-3 control-label">Name: </label>
        <div class="col-sm-9">
        <p>{{packDetailDetail.name}}</p>
        </div>
        </div>

        <div class="form-group">
        <label class="col-sm-3 control-label">Package Title: </label>
        <div class="col-sm-9">
        <p>{{packDetailDetail.title}}</p>
        </div>
        </div>

        <div class="form-group">
        <label class="col-sm-3 control-label">No. of Serve: </label>
        <div class="col-sm-9">
        <p>{{packDetailDetail.qty}}</p>
        </div>
        </div>


        <div class="form-group" ng-if="packDetailDetail.sections.length > 0">
        <div  ng-repeat="sec in packDetailDetail.sections">
        <label class="col-sm-3 control-label">{{sec.title}}</label>
        <div class="col-sm-9">
        <span class="label label-info content-lable" ng-repeat="menu in sec.list_of_menu">{{menu.text}}</span>
        </div>
        </div>
        </div>

        <div class="form-group" ng-if="packDetailDetail.sections.length == 0">
         <label class="col-sm-3 control-label">Section: </label>
        <div class="col-sm-9">
             <p>No section available in this package</p>
     </div>
        </div>



        <div class="form-group">
        <label class="col-sm-3 control-label">Price: </label>
        <div class="col-sm-9">
        <p>&euro; {{packDetailDetail.price}}</p>  
        </div>
        </div>



        <div class="form-group">
        <label class="col-sm-3 control-label">Description: </label>
        <div class="col-sm-9">

        <p>{{packDetailDetail.desc}}</p>

        </div>
        </div>



        </form>

        </div>
        </div>
        <div class="modal-footer bg-light">
        <button class="btn btn-primary btn-sm" ng-click="editPackage()">Edit</button>
        <button class="btn btn-warning btn-sm" ng-click="cancel()">Cancel</button>
        </div>
    </script> 
