    <div class="row">
    <form name="registrationForm">
        <div class="transparnt-bg m-t-2" data-ng-controller="dashboardCtrl as dashboard" ng-init="initCompanyProfile()">
            <!--        <div class="logo-inner text-center"><img src="images/logo-dark.png" height="199" width="308"/></div>
                    <p class="text-center service-page-text">We are happy you are joining our platform. Together we can increase sales of your catering.<br/>
                        Please provide us some information to help us improve your Catering sales</p>
                    <div class="text-center"><img src="images/devider-line.png" height="12" width="203"/></div>-->
            <div class="row mb25 mt30 pt20">
                <div class="col-md-12">
                    <div class="box-tab justified">
                        <ul class="nav nav-tabs">
                            <li class="position-r" ng-class="{active:dashboard.selectedTab === 'company'}"> 
                                <a data-toggle="tab" ng-click="dashboard.selectTab(registrationForm, 'company')" aria-expanded="false"><img src="images/company.png" height="49" width="49"/></a>
                                <p class="inactive-text">Company</p>
                                <span class="process-bar-inner"><img src="images/process-bar-inactive.png" height="3" width="214"/></span> </li>
                            <li class="position-r" ng-class="{active:dashboard.selectedTab === 'aboutFood'}">
                                <a data-toggle="tab" ng-click="dashboard.selectTab(registrationForm, 'aboutFood');" aria-expanded="false"><img src="images/food_icon.png" height="49" width="49"/></a>
                                <p class="inactive-text">Tell us about your food</p>
                                <span class="process-bar-inner"><img src="images/process-bar-inactive.png" height="3" width="214"/></span> </li>
                            <li class="position-r" ng-class="{active:dashboard.selectedTab === 'serviceOffered'}">
                                <a data-toggle="tab" ng-click="dashboard.selectTab(registrationForm, 'serviceOffered')" aria-expanded="false"><img src="images/service-offerd.png" height="49" width="49"/></a>
                                <p>Service you offerd</p>
                                <span class="process-bar-inner"><img src="images/process-bar-inactive.png" height="3" width="214"/></span> </li>
                            <li class="" ng-class="{active:dashboard.selectedTab === 'info'}">
                                <a data-toggle="tab" ng-click="dashboard.selectTab(registrationForm, 'info');" aria-expanded="false"><img src="images/info.png" height="49" width="49"/></a>
                                <p>Company Info</p>
                            </li>
                        </ul>
                        <div class="service-info">
                            <div class="tab-content">
                                <div id="home4" ng-class="{active:dashboard.selectedTab === 'company'}" ng-show="dashboard.selectedTab === 'company'">
                                    <form class="form-horizontal">
                                        <div class="outer pull-left">
                                            <div class="col-sm-6 service-input">
                                                <div class="m-b-30" ng-class="{'has-error': (registrationForm.companyName.$invalid && registrationForm.companyName.$dirty)}">
                                                <label class="allLabel">Company Name</label>
                                                    <input name="companyName" class="form-control" placeholder="Comany Name" ng-model="dashboard.company.name" required/>
                                                    <div class="error,help-block" ng-show="(registrationForm.companyName.$dirty) && registrationForm.companyName.$invalid"> 
                                                        <span class="help-block" ng-show="registrationForm.companyName.$error.required">Required</span>
                                                    </div>
                                                </div>
                                                <!--<input type="file"  class="file">-->
                                                <!--<div class="input-group browse col-xs-12 m-b-30"> <span class="input-group-addon"><i class="glyphicon glyphicon-picture"></i></span>-->
                                                
                                                <div class="col-xs-9 m-b-30 drop drop-design" flow-init="dashboard.uploadLogo"
                                                     flow-name="dashboard.uploadPhoto.flow"
                                                     flow-file-success="dashboard.uploadImageSuccess( $file, $message, $flow )"
                                                     flow-file-added="dashboard.imageAdded( $file, $event, $flow )"
                                                     flow-files-submitted="dashboard.uploadImage( $files, $event, $flow )"
                                                     flow-file-error="dashboard.uploadImageFailure( $file, $message, $flow )"
                                                     flow-file-progress="dashboard.uploadImageProgress()"
                                                     flow-drop>
                                                    <span>
                                                        <img flow-img="$flow.files[0]" style="width: 75px;" class="img-float" ng-if="$flow.files.length > 0">
                                                        <span class="browse btn btn-orange" flow-btn> <i class="glyphicon glyphicon-search"/> Browse</span> <strong>OR</strong> Drag and drop your LOGO here
                                                    </span>

                                                </div>
                                                <div class="col-xs-3">
                                                    <img src="{{dashboard.company.logo}}" ng-show="dashboard.company.logo" class="img-responsive">
                                                </div>

                                                
                                                <div class="col-xs-9 m-b-30 drop drop-design" flow-init="dashboard.uploadBanner"
                                                     flow-name="dashboard.uploadPhoto.flow"
                                                     flow-file-success="dashboard.uploadImageSuccess( $file, $message, $flow )"
                                                     flow-file-added="dashboard.imageAdded( $file, $event, $flow )"
                                                     flow-files-submitted="dashboard.uploadImage( $files, $event, $flow )"
                                                     flow-file-error="dashboard.uploadImageFailure( $file, $message, $flow )"
                                                     flow-file-progress="dashboard.uploadImageProgress()"
                                                     flow-drop>
                                                    <span>
                                                        <img flow-img="$flow.files[0]" style="width: 75px;" class="img-float" ng-if="$flow.files.length > 0">
                                                        <span class="browse btn btn-orange" flow-btn> <i class="glyphicon glyphicon-search"/> Browse</span> <strong>OR</strong> Drag and drop your BANNER here
                                                    </span>
                                                </div>
                                                <div class="col-xs-3">
                                                    <img src="{{dashboard.company.banner}}" ng-show="dashboard.company.banner" class="img-responsive">
                                                </div>

                                                <uib-progressbar animate="true" ng-show="dashboard.showProgressBar"  value="$file.progress() * 100" class="customProgressBar progress-striped active" max="100"></uib-progressbar>
                                            </div>
                                            <div class="col-sm-6 service-input-inner">
                                                <div class="m-b-30" ng-class="{'has-error': (registrationForm.tagline.$invalid && registrationForm.tagline.$dirty)}">
                                                <label class="allLabel">Tag Line</label>

                                                    <input name="tagline" class="form-control" placeholder="Tag Line" ng-model="dashboard.company.tagline" required/>
                                                    <div class="error,help-block" ng-show="(registrationForm.tagline.$dirty) && registrationForm.tagline.$invalid"> 
                                                        <span class="help-block" ng-show="registrationForm.tagline.$error.required">Required</span>
                                                    </div>
                                                </div>
                                                <label class="allLabel">Description</label>
                                                <textarea rows="5" cols="100%" class="form-control m-b-30" placeholder="Description of your Company" ng-model="dashboard.company.description"></textarea>
                                                
                                            </div>
                                            <div class="col-sm-12">
                                                <a ng-show="isFirstTime" ui-sref="app.apps.calendar" class="btn btn-orange pull-right continue-btn" style="margin-left:20px;">Skip <i class="fa fa-arrow-right"></i></a>
                                                <button class="btn btn-orange pull-right continue-btn" ng-click="dashboard.selectTab(registrationForm, 'aboutFood');" >Continue <i class="fa fa-arrow-right"></i></button>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                                <div class="tab-pane" ng-class="{active:dashboard.selectedTab === 'aboutFood'}" ng-show="dashboard.selectedTab === 'aboutFood'">
                                    <form class="form-horizontal">
                                        <div class="outer col-sm-12 service-input">
                                            <div class="col-sm-6">
                                                <!--<input class="form-control m-b-30" placeholder="What type of cuisine you serve " ng-model="dashboard.company.typeOfCuisines"/>-->
                                                <label class="allLabel">What type of cuisine you serve?</label>
                                                <oi-select
                                                    class="m-b-30"
                                                    oi-options="cuisineType.cuisine for cuisineType in dashboard.typeOfCuisines track by cuisineType.id"
                                                    ng-model="dashboard.company.cuisine_name"
                                                    multiple
                                                    placeholder="What type of cuisine you serve?">
                                                </oi-select>
<!--                                                <input class="form-control m-b-30" placeholder="Do you provide special need  " ng-model="dashboard.company.specialNeeds"/>-->
                                                <label class="allLabel">Do you provide special need?</label>
                                                <oi-select
                                                    class="m-b-30"
                                                    oi-options="specialNeed.name for specialNeed in dashboard.specialNeeds track by specialNeed._id"
                                                    ng-model="dashboard.company.special_need"
                                                    multiple
                                                    placeholder="Do you provide special need?">
                                                </oi-select>

                                                
                                                <p class="text-white">Number of people you serve</p>

                                                <label class="allLabel">Min</label>
                                                <input type="number" min="1" class="form-control m-b-30" placeholder="Min" ng-model="dashboard.company.min_people"/>

                                                <label class="allLabel">Max</label>
                                                <input type="number" min="1" class="form-control m-b-30" placeholder="Max" ng-model="dashboard.company.max_people"/>

                                                <label class="allLabel">How many days before a client have to order?</label>
                                                <input type="number" min="0" class="form-control m-b-30" placeholder="How many days before a client have to order." ng-model="dashboard.company.no_days_before_order"/>
                                            </div>
                                            <div class="col-sm-6 service-input">

                                                <label class="allLabel">Cancellation notice period(in days)</label>
                                                <input type="number" min="0" class="form-control m-b-30" placeholder="Cancellation notice period(in days)" ng-model="dashboard.company.cancellation_notice_period"/>

                                                <label class="allLabel">Minimum amount to order.</label>
                                                <input type="number" min="0" class="form-control m-b-30" placeholder="Minimum amount to order." ng-model="dashboard.company.minimum_amount_order"/>
                                                <p class="text-white">Do you offer delivery ( Yes / No )</p>
                                                <label class="switch switch-lg mb15 pull-left m-b-30 mt5">
                                                    <input type="checkbox" checked="" ng-model="dashboard.company.delivery">
                                                    <span> <i class="handle"></i> </span> </label>
                                                <input type="number" min="0" class="form-control m-b-30" placeholder="How many kilometers around you deliver" ng-hide='!dashboard.company.delivery' ng-model="dashboard.company.kilometers"/>
                                            </div>
                                            <div class="col-sm-12">
                                                <a ng-show="isFirstTime" ui-sref="app.apps.calendar" class="btn btn-orange pull-right continue-btn" style="margin-left:20px;">Skip <i class="fa fa-arrow-right"></i></a>
                                                <button class="btn btn-orange pull-right continue-btn " ng-click="dashboard.selectTab(registrationForm, 'serviceOffered');">Continue <i class="fa fa-arrow-right"></i></button>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                                <div class="tab-pane" ng-class="{active:dashboard.selectedTab === 'serviceOffered'}" ng-show="dashboard.selectedTab === 'serviceOffered'">
                                    <form class="form-horizontal">
                                        <div class="outer col-sm-12 service-input">
                                            <div class="col-sm-12">
                                                <label class="allLabel">What type of events you serve?</label>
                                                <oi-select
                                                    class="m-b-30"
                                                    oi-options="typeOfEvent.name for typeOfEvent in dashboard.typeOfEvents track by typeOfEvent._id"
                                                    ng-model="dashboard.company.events"
                                                    multiple
                                                    placeholder="What type of events you serve?">
                                                </oi-select>
                                                <!--<input class="form-control m-b-30" placeholder="What type of events you serve " ng-model="dashboard.company.typeOfEvents"/>-->
                                            </div>
                                            <div class="col-sm-12">
                                                <label class="allLabel">Services you offer?</label>
                                                <oi-select
                                                    class="m-b-30"
                                                    oi-options="serviceOffered.name for serviceOffered in dashboard.servicesOffered track by serviceOffered._id"
                                                    ng-model="dashboard.company.services"
                                                    multiple
                                                    placeholder="Services you offer?">
                                                </oi-select>
                                                <!--<input class="form-control m-b-30" placeholder="Services you offer" ng-model="dashboard.company.servicesOffered"/>-->
                                            </div>
                                            <div class="col-sm-12">
                                                <label class="allLabel">Type of service</label>
                                                <oi-select
                                                    class="m-b-30"
                                                    oi-options="typeOfService.name for typeOfService in dashboard.typeOfServices track by typeOfService._id"
                                                    ng-model="dashboard.company.services_type"
                                                    multiple
                                                    placeholder="Type of service">
                                                </oi-select>
                                                <!--<input class="form-control m-b-30" placeholder="Type of service" ng-model="dashboard.company.typeOfService"/>-->
                                            </div>
                                            <div class="col-sm-12">
                                                <a ng-show="isFirstTime" ui-sref="app.apps.calendar" class="btn btn-orange pull-right continue-btn" style="margin-left:20px;">Skip <i class="fa fa-arrow-right"></i></a>
                                                <button class="btn btn-orange pull-right continue-btn " ng-click="dashboard.selectTab(registrationForm, 'info');">Continue <i class="fa fa-arrow-right"></i></button>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                                <div id="contacts4" class="tab-pane" ng-class="{active:dashboard.selectedTab === 'info'}" ng-show="dashboard.selectedTab === 'info'">
                                    <form class="form-horizontal">
                                        <div class="outer col-sm-12 service-input">
                                            <div class="col-sm-12">
                                                <label class="allLabel">Enter your CIF /NIF Number</label>
                                                <input class="form-control m-b-30" placeholder="Enter your CIF /NIF Number " ng-model="dashboard.company.cif"/>
                                            </div>
                                            <div class="col-sm-12">
                                                <label class="allLabel">Enter your Company Address</label>
                                                <input class="form-control m-b-30" placeholder="Enter your Company Address  " ng-model="dashboard.company.address"/>
                                            </div>
                                            <div class="col-sm-4">
                                                <label class="allLabel">Enter your  postal code</label>
                                                <input class="form-control m-b-30" placeholder="Enter your postal code" ng-model="dashboard.company.postal_code"/>
                                            </div>
                                            <div class="col-sm-4">
                                                <label class="allLabel">City</label>
                                                <input class="form-control m-b-30" placeholder="City" ng-model="dashboard.company.city"/>
                                            </div>
                                            <div class="col-sm-4">
                                                <label class="allLabel">Telephone number</label>
                                                <input class="form-control m-b-30" placeholder="Telephone number " ng-model="dashboard.company.telephone_number"/>
                                            </div>
                                            <div class="col-sm-4">
                                                <label class="allLabel">Email</label>
                                                <input class="form-control m-b-30" placeholder="Email " type="email" ng-model="dashboard.company.email"/>
                                            </div>
                                            <div class="col-sm-4">
                                                <label class="allLabel">Bank Name</label>
                                                <input class="form-control m-b-30" placeholder="Bank Name " ng-model="dashboard.company.bank_name"/>
                                            </div>
                                            <div class="col-sm-4">
                                                <label class="allLabel">IBAN NUmber</label>
                                                <input class="form-control m-b-30" placeholder="IBAN NUmber  " ng-model="dashboard.company.iban_number"/>
                                            </div>
                    
                                            <div style="margin-right: 10px" class="col-sm-9 m-b-30 drop" flow-init="dashboard.uploadProfilePhoto"
                                                     flow-name="dashboard.uploadPhoto.flow"
                                                     flow-file-success="dashboard.uploadImageSuccess( $file, $message, $flow )"
                                                     flow-file-added="dashboard.imageAdded( $file, $event, $flow )"
                                                     flow-files-submitted="dashboard.uploadImage( $files, $event, $flow )"
                                                     flow-file-error="dashboard.uploadImageFailure( $file, $message, $flow )"
                                                     flow-file-progress="dashboard.uploadImageProgress()"
                                                     flow-drop>
                                                    <span>
                                                        <img flow-img="$flow.files[0]" style="width: 75px;" ng-if="$flow.files.length > 0">
                                                        <span class="browse btn btn-orange" flow-btn> <i class="glyphicon glyphicon-search"/> Browse</span> <strong>OR</strong> Drag and drop your Profile Photo here
                                                    </span>
                                                </div>
                                            <div class="col-xs-3">
                                                <img src="{{dashboard.company.profile_pic}}" ng-show="dashboard.company.profile_pic" class="img-responsive">
                                            </div>
                                            <div class="col-sm-12">
                                                <button class="btn btn-orange pull-right continue-btn " ng-click="dashboard.register();">Submit</button>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>
