<script type="text/ng-template" id="adminSignUp.html">
	
	<div>        
        <form role="form" class="form-layout p-l-r" name='signUp.signUpForm' novalidate>
            <div class="text-center mb15">
                <img data-ng-src="images/logo-dark.png" />
            </div>
                <p class="text-center mb25">Welcome to Online Catering. Please sign up to new account</p>    
                    <div class="form-inputs">
                        <div ng-class="{'has-error': (signUp.signUpForm.email.$invalid && signUp.signUpForm.email.$dirty)}">
                            <input type="email" ng-model='signUp.user.email' name='email' class="form-control input-lg" placeholder="Email Address" maxlength="500" required> 
                            <div class="error,help-block" ng-show="(signUp.signUpForm.email.$dirty) && signUp.signUpForm.email.$invalid"> 
                                <span class="help-block" ng-show="signUp.signUpForm.email.$error.required">Enter Email Address</span>
                                <span class="help-block" ng-show="signUp.signUpForm.email.$error.email">Enter valid Email Address</span>
                            </div>
                        </div>
                    </div>
                    <button class="btn btn-orange btn-block btn-lg mb15" type="submit" ng-click="signUp.register()">
                        <span>Signup</span>
                    </button>
                <p>
                    <a class='pull-right' ng-click='signUp.cancelSignUp()'>Cancel</a>
                </p>
        </form>   
</div>
</script>



<div class="adminDashboard" ng-controller="sessionCtrl">
    <div class="row">
        <div class="col-md-3 col-sm-6 col-xs-12">
          <div class="info-box">
            <span class="info-box-icon bg-aqua"><i class="fa fa-user text-white"></i></span>

            <div class="info-box-content">
              <div style=" margin-top: 15px;">
              <span class="info-box-text">Active Caterers : </span>
              <span class="info-box-number">{{activeCaterer}}</span><br/>
              <span class="info-box-text">InActive Caterers : </span>
              <span class="info-box-number">{{inActiveCaterer}}</span>
              </div>
            </div>
            <!-- /.info-box-content -->
          </div>
          <!-- /.info-box -->
        </div>

        <div class="col-md-3 col-sm-6 col-xs-12">
          <div class="info-box">
            <span class="info-box-icon bg-aqua"><i class="fa fa-user text-white"></i></span>

            <div class="info-box-content">
            <div style=" margin-top: 15px;">
              <span class="info-box-text">Active Users : </span>
              <span class="info-box-number">{{activeUser}}</span><br/>
              <span class="info-box-text">InActive Users : </span>
              <span class="info-box-number">{{inActiveUser}}</span>
            </div>
            </div>
            <!-- /.info-box-content -->
          </div>
          <!-- /.info-box -->
        </div>

        <div class="col-md-3 col-sm-6 col-xs-12">
          <div class="info-box">
            <span class="info-box-icon bg-aqua"><i class="fa fa-rocket text-white"></i></span>
            
            <div class="info-box-content">
            <div style=" margin-top: 15px;">
              <span class="info-box-text">Total Orders : </span>
              <span class="info-box-number">{{totalOrders}}</span>
            </div>
            </div>
            <!-- /.info-box-content -->
          </div>
          <!-- /.info-box -->
        </div>

        <div class="col-md-3 col-sm-6 col-xs-12">
          <div class="info-box">
            <span class="info-box-icon bg-aqua"><i class="fa fa-money text-white"></i></span>
            
            <div class="info-box-content">
            <div style=" margin-top: 15px;">
              <span class="info-box-text">Total Amount : </span>
              <span class="info-box-number">{{totalAmount}}</span>
            </div>
            </div>
            <!-- /.info-box-content -->
          </div>
          <!-- /.info-box -->
        </div>

        
    </div>
    <div>
      <button class="btn btn-primary" ng-click="addBetaUser()">Add Beta User</button>
    </div>

    
</div>


