<script type="text/ng-template" id="orderInfo.html">
    
    
    <div class="modal-header bg-green-dark-package">
    <span style="font-size: 22px;" class="modal-title">Order : </span><span>{{e.id}}</span>
    </div>
    <div class="modal-body package-detail">
    <form role="form" class="form-horizontal bordered-group ng-pristine ng-valid">

    
        
    <div class="form-group">
    <label class="col-sm-3 control-label">Name : </label>
    <div class="col-sm-9" >
     <label class="control-label"> {{e.customer_name}}</label>
    </div>
    </div>


    <div class="form-group">
    <label class="col-sm-3 control-label">Delivery Address : </label>
    <div class="col-sm-9" >
        <label class="control-label"> {{e.customer_addressLine1}} , {{e.customer_addressLine1}} , {{e.customer_pin}} ,{{e.customer_city}} , {{e.customer_state}}</label>
    </div>
    </div>

    <div class="form-group">
    <label class="col-sm-3 control-label">Delivery Date : </label>
    <div class="col-sm-9">
        <label class="control-label"> {{e.eventDate}}</label>
    </div>
    </div>

    <div class="form-group">
    <label class="col-sm-3 control-label">Event Time : </label>
    <div class="col-sm-9">
        <label class="control-label"> {{e.eventTime}}</label>
    </div>
    </div>

    <div class="form-group">
    <div class="panel-body"> 
    <table class="table mb0"> 
        <thead> 
            <tr> 
                <th class="col-md-5"> 
                <span></span>Description 
                </th>
                <th class="col-md-2">
                Qty 
                </th>
                <th class="col-md-2">Price 
                </th>
                <th class="col-md-2">Amount 
                </th>
            </tr>
        </thead>
        <tbody ng-repeat="item in e.items">
            <tr> 
                <td>{{item.itemName}}</td>
                <td>{{item.totalNumber}}</td>
                <td>{{item.itemPrice}}</td>
                <td>{{item.itemPrice*item.totalNumber}}</td>
            </tr>
        </tbody>
        <tfoot>
            <tr>
                <td></td>
                <td></td>
                <td style="font-size: 13px;font-weight: bolder;">Total  </td>
                <td style="font-size: 13px;font-weight: bolder;">{{e.totalAmount}}</td>
            </tr>
        </tfoot>
        </table> 
        </div>
   
    </div>





    </div>    



    

     



    <div class="modal-footer">
    
    <button class="btn btn-warning btn-sm" ng-click="closeModal()">Cancel</button>
    </div>
    </form>
    </div>
    </div>


    

</script>








<div class="row" ng-controller="CalendarCtrl" ng-init="initCalendar()">
    <div class="col-sm-3">

        <!--    <button type="button" class="btn btn-green" data-ng-click="addEvent()">
              <span class="fa fa-plus mr5"></span>
              <span>Add new event</span>
            </button>-->
        <span  class="btn-green col-sm-12 center-content">Todays event</span>
        <br/>
        <hr>

        <ul class="external-events">
            <li ng-repeat="e in events" ng-click="orderModal($index)" style="cursor: pointer;">
                <div class="external-event event-primary">
                    <div class="row">
                        <div class="col-sm-12">
<!--                             <input ng-model="e.order_event" class="form-control no-border no-bg pl0 danger"> -->
                        </div>
                    </div>

                    <div class="row" >
                        <div class="col-sm-6">
                            <small>Order Id : <span style="color:#7bc147">{{e.id}}</span></small><br/>
                            <small>Customer : <span style="color:#7bc147">{{e.customer_name}}</span></small><br/>
                        </div>
                        <div class="col-sm-6">
                            <small>Location :<span style="color:#7bc147"> {{e.customer_addressLine1}}</span></small><br/>
                            <small> Price : <span style="color:#7bc147">{{e.totalAmount}}&euro;</span></small><br/>
                            <small> Delivery Date : <span style="color:#7bc147">{{e.eventDate}}</span></small><br/>
                            <small> Event Time : <span style="color:#7bc147">{{e.eventTime}}</span></small><br/>
                        </div>
                    </div>
                    <div class="row ">
                        <div class="col-sm-12 small">
                            Product :
                            <div ng-repeat="item in e.items" style="color:#7bc147">
                                {{item.itemName}}  :  {{item.totalNumber}}
                            </div>
                        </div>
                    </div>
                </div>
            </li>
        </ul>

    </div>
    <div class="col-sm-9">
        <div class="calendar-viewer">
            <div ui-calendar="uiConfig.calendar" class="fullcalendar" calendar="myCalendar" ng-model="eventSources" ></div>
        </div>
    </div>
</div>
