<div data-ng-controller="galleryCtrl" ng-init="getUserPackages()">
    <div class="clearfix">
        <a ui-sref="app.apps.newpackage" class="btn btn-default"></a><span class="fa fa-paint-brush mr5"></span>New Package</a>
    </div>

    <hr>

    <div class="row">
        <div class="col-sm-12">
            <div class="gallery">
                <div class="col-md-3 col-sm-4 col-xs-6 img-data" ng-click="getPackageDetail(userPack)" data-ng-repeat="userPack in userPackages">
                <div class="col-sm-12">
                    <a href="./images/food-popup.png" title="{{userPack.name}}" data-gallery="">
                        <img data-ng-src="{{userPack.image}}" alt="" style="height: 150px;">
                        <div class="black-overlay" style="width:100%">
                            <p class="img-data-heading">{{userPack.name}}</p>
                            <div class="img-border-line"></div>
                            <p class="img-data-heading-inner">{{userPack.desc}}</p>
                        </div>
                    </a>
                    <div>
                    <div class="col-sm-12">
                        <div class="row">
                            <div class="img-main-package-name col-sm-6 bold-font" >{{userPack.title}}</div>
                            <div class="img-main-package-name col-sm-6 text-right"><span class="bold-font">Price:</span> <span class="text-danger ml5">{{userPack.price}}</span></div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>
<!-- The Bootstrap Image Gallery lightbox, should be a child element of the document body -->
<script type="text/ng-template" id="packageDetail.html">
        <div>
        <div class="modal-header bg-green-dark-package">
        <h3 class="modal-title">Package Detail</h3>
        </div>
        <div class="modal-body package-detail package-standerd">
        <form role="form" class="form-horizontal bordered-group ng-pristine ng-valid">
        <div class="form-group">
        <label class="col-sm-3 control-label">Name</label>
        <div class="col-sm-9">
        <p>{{packDetailDetail.name}}</p>
        </div>
        </div>

        <div class="form-group">
        <label class="col-sm-3 control-label">No. of Serve</label>
        <div class="col-sm-9">
        <p>{{packDetailDetail.qty}}</p>
        </div>
        </div>


        <div class="form-group">
        <div  ng-repeat="sec in packDetailDetail.sections">
        <label class="col-sm-3 control-label">{{sec.title}}</label>
        <div class="col-sm-9">
        <span class="label label-info content-lable" ng-repeat="menu in sec.list_of_menu">{{menu.text}}</span>
        </div>
        </div>
        </div>



        <div class="form-group">
        <label class="col-sm-3 control-label">Price</label>
        <div class="col-sm-9">
        <p>$ {{packDetailDetail.price}}</p>  
        </div>
        </div>



        <div class="form-group">
        <label class="col-sm-3 control-label">Description</label>
        <div class="col-sm-9">

        <p>{{packDetailDetail.desc}}</p>

        </div>
        </div>



        </form>

        </div>
        </div>
        <div class="modal-footer bg-light">
        <button class="btn btn-primary btn-sm" ng-click="packageCtr.savePackage()">Edit</button>
        <button class="btn btn-warning btn-sm" ng-click="cancel()">Cancel</button>
        </div>
</script> 