<div class="center-wrapper cater-bg" data-ng-controller="signupCtrl as signUp">
    <div class="center-content">
        <div class="row no-margin">
            <div class="col-xs-10 col-xs-offset-1 col-sm-6 col-sm-offset-3 col-md-4 col-md-offset-4 bg-white p-t-b">
                <form role="form" class="form-layout p-l-r" name='signUp.signUpForm' novalidate>
                    <div class="text-center mb15">
                        <img data-ng-src="images/logo-dark.png" />
                    </div>

                    <p class="text-center mb25">Welcome to Online Catering. Please sign up to new account</p>
                    <div class='row form-inputs login-fonts'>
                        <div class='col-md-6' style='padding-left: 15px' ng-class="{'has-error': (signUp.signUpForm.firstName.$invalid && signUp.signUpForm.firstName.$dirty)}">
                            <input type="text" name='firstName' ng-model='signUp.user.firstName' class="form-control input-lg" placeholder="First Name" maxlength="100" required>
                            <div class="error,help-block" ng-show="(signUp.signUpForm.firstName.$dirty) && signUp.signUpForm.firstName.$invalid"> 
                                <span class="help-block" ng-show="signUp.signUpForm.firstName.$error.required">Enter first name</span>
                            </div>
                        </div>
                        <div class='col-md-6' style='padding-right: 15px' ng-class="{'has-error': (signUp.signUpForm.lastName.$invalid && signUp.signUpForm.lastName.$dirty)}">
                            <input type="text" class="form-control input-lg" ng-model='signUp.user.lastName' placeholder="Last Name" name='lastName' maxlength="100" required>
                            <div class="error,help-block" ng-show="(signUp.signUpForm.lastName.$dirty) && signUp.signUpForm.lastName.$invalid"> 
                                <span class="help-block" ng-show="signUp.signUpForm.lastName.$error.required">Enter last name</span>
                            </div>
                        </div>
                    </div>
                    <div class="form-inputs">
                        <div ng-class="{'has-error': (signUp.signUpForm.company.$invalid && signUp.signUpForm.company.$dirty)}">
                            <input name='company' type="text" class="form-control input-lg" placeholder="Company" ng-model='signUp.user.company' required>
                            <div class="error,help-block" ng-show="(signUp.signUpForm.company.$dirty) && signUp.signUpForm.company.$invalid"> 
                                <span class="help-block" ng-show="signUp.signUpForm.company.$error.required">Enter company</span>
                            </div>
                        </div>

                        <div ng-class="{'has-error': (signUp.signUpForm.email.$invalid && signUp.signUpForm.email.$dirty)}">
                            <input type="email" ng-model='signUp.user.email' name='email' class="form-control input-lg" placeholder="Email Address" maxlength="500" required> 
                            <div class="error,help-block" ng-show="(signUp.signUpForm.email.$dirty) && signUp.signUpForm.email.$invalid"> 
                                <span class="help-block" ng-show="signUp.signUpForm.email.$error.required">Enter Email Address</span>
                                <span class="help-block" ng-show="signUp.signUpForm.email.$error.email">Enter valid Email Address</span>
                            </div>
                        </div>

                        <div ng-class="{'has-error': (signUp.signUpForm.mobile.$invalid && signUp.signUpForm.mobile.$dirty)}">
                            <input type="text" class="form-control input-lg" ng-model='signUp.user.mobile' placeholder="Mobile" name='mobile' ng-pattern='/^[0-9]{10,10}$/' maxlength="20" required>
                            <div class="error,help-block" ng-show="(signUp.signUpForm.mobile.$dirty) && signUp.signUpForm.mobile.$invalid"> 
                                <span class="help-block" ng-show="signUp.signUpForm.mobile.$error.required">Enter mobile number</span>
                                <span class="help-block" ng-show="signUp.signUpForm.mobile.$error.pattern">Enter a valid 10 digit mobile number</span>
                            </div>
                        </div>
                        <div ng-class="{'has-error': (signUp.signUpForm.password.$invalid && signUp.signUpForm.password.$dirty)}">
                            <input type="password" class="form-control input-lg" placeholder="Password" ng-model='signUp.user.password' name='password' maxlength="50" required>
                            <div class="error,help-block" ng-show="(signUp.signUpForm.password.$dirty) && signUp.signUpForm.password.$invalid"> 
                                <span class="help-block" ng-show="signUp.signUpForm.password.$error.required">Enter password</span>
                            </div>
                        </div>
                        <div ng-class="{'has-error': ((signUp.signUpForm.confpassword.$dirty && signUp.signUpForm.confpassword.$invalid) || (signUp.signUpForm.confpassword.$dirty && signUp.user.password !== signUp.user.confpassword))}">    
                            <input type="password" class="form-control input-lg" placeholder="Retype Password" ng-model='signUp.user.confpassword' name='confpassword' maxlength="50" compare-to="signUp.user.password" required>
                            <div class="error,help-block" ng-show="signUp.signUpForm.confpassword.$dirty && signUp.signUpForm.confpassword.$invalid"> 
                                <span class="help-block" ng-show="signUp.signUpForm.confpassword.$error.required">Enter confirm password</span>
                            </div>
                            <div class="error,help-block" ng-show="signUp.signUpForm.confpassword.$dirty && signUp.user.password !== signUp.user.confpassword">
                                <span class="help-block">Passwords do not match</span>
                            </div>
                            
                        </div>
                    </div>
                    <button class="btn btn-orange btn-block btn-lg mb15" type="submit" ng-click="signUp.register()">
                        <span>Signup</span>
                    </button>
                    <p>
                        <a class='pull-right' ui-sref='user.signin'>Have an account? Login</a>
                    </p>
                </form>
            </div>
        </div>

    </div>
</div>
