<style>
    .treeview-packageCtr .badge, .droppable-package .badge {
        display: none
    }
</style>
<div data-ng-controller="packageCtrl as packageCtr" ng-init="getCategoryList()" ui-jq="checkBo">
    <form class="form-horizontal form-fixed">
        <div  ng-controller="ModalDemoCtrl">
            <div class="col-sm-6 text-left">
                <div>{{package.title}}</div>
            </div>
            <div class="col-sm-6 text-right">
                <button class="btn btn-danger" ng-click="packageCtr.addSection()">Add Section</button>
                <button class="btn btn-primary" ng-click="">Save Section</button>
            </div>
        </div>
    </form>
    <div class="row small inner-data-packages">
        <div class="col-sm-3">
            <div class='treeview-packageCtr small' drag-drop dragabble="true" treeview='packageCtr.categories'></div>
        </div>
        <div class="col-sm-9">
            <div style="padding:1%;">
                <div class="col-md-4" ng-repeat='section in packageCtr.package.sections'>
                    <div class="panel panel-default">
                        <div class="panel-header bg-primary">
                            <div class="row" ng-app="MyApp">
                                Title for section :  <span ng-controller="MyCtrl" class="item-label"> <span id="item{{$index}}" class="item-title">click here to edit</span>
                                    <input id="item{{$index}}-display" style="display:none;" class="item-title-display"/>
                                </span> 

                            </div>
                            <div class="row">
                                Number of option :   <span ng-controller="MyCtrl" class="item-label"> <span id="amount{{$index}}" class="amount-title">0</span>
                                    <input id="amount{{$index}}_entry" style="display:none;"  class="amount-title-entry"/>
                                </span>
                            </div>
                        </div>
                        <div class="panel-body">
                            <div  drag-drop droppable="true" class='droppable-package bg-white' categories="packageCtr.categories" selected-data='section.list_of_menu' style="height: 250px; overflow-y:scroll;" > </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script type="text/ng-template" id="addPackage.html">
    <div ui-jq="checkBo">
    <div class="modal-header bg-green-dark-package">
    <h3 class="modal-title">Package Detail</h3>
    </div>
    <div class="modal-body package-detail">
    <form role="form" class="form-horizontal bordered-group ng-pristine ng-valid">
    <div class="form-group">
    <label class="col-sm-3 control-label">Package Name</label>
    <div class="col-sm-9">
    <input type="text" class="form-control" ng-model="package.name"/> 
    </div>
    </div>
    <div class="form-group">
    <label class="col-sm-3 control-label">Package Title</label>
    <div class="col-sm-9">
    <input type="text" class="form-control" ng-model="package.title"/> 
    </div>
    </div>
    <div class="form-group">
    <label class="col-sm-3 control-label">Price</label>
    <div class="col-sm-9">
    <input type="text" class="form-control" ng-model="package.price">  
    </div>
    </div>
    <div class="form-group">
    <label class="col-sm-3 control-label">Upload Image</label>
    <div class="col-sm-9">
    <input type="file" ng-model="package.image">
    </div> 
    </div>
    <div class="form-group">
    <label class="col-sm-3 control-label">Description</label>
    <div class="col-sm-9">
    <textarea type="text" class="form-control" row="5" cols="100%" ng-model="package.desc"></textarea>
    </div>
    </div>

    <div class="modal-footer">
    <button class="btn btn-primary btn-sm" ng-click="ok()">Save</button>
    <!--    <button class="btn btn-warning btn-sm" ng-click="cancel()">Cancel</button>-->
    </div>
    </form>
    </div>
    </div>
</script> 