<div class="row mb25" ui-jq="checkBo" data-ng-controller="categoryCtrl as categories" ng-init="getCategoryList()">


    <div class="col-sm-12">
        <button data-ng-click="categories.addCategory()" class="btn btn-green mb20" type="button">
            <span class="fa fa-plus mr5"></span>
            <span>Add new catagory</span>
        </button>
    </div>

    <div class="col-md-3" ng-repeat="category in categories.categoryList">
        <div class="panel panel-primary" ng-class="{'panel-success':$index % 4 == 1, 'panel-warning':$index % 4 == 2, 'panel-danger':$index % 4 == 3}">
            <div class="panel-heading">
                <div class="pull-left title-inner">
                    <span>{{category.name}}</span>
                </div>
                <div class="panel-controls">
                    <a href="javascript:;" class="panel-collapse" panel-control-collapse>
                        <i class="fa fa-arrow-down"></i>
                    </a>
                    <a href="javascript:;" class="ng-scope">
                        <i class="fa fa-pencil" ng-click="categories.editCategory(category)"></i>
                    </a>
                    <a href="javascript:;" class="ng-scope">
                        <i class="fa fa-plus" ng-click="categories.addCategoryItem(category)"></i>
                    </a>
                </div>
            </div>
            <div class="panel-body body-overflow">
                <span ng-repeat="item in category.items">
                    <span class="cursor" ng-click="categories.editCategoryItem(item, category)">{{item.name}}</span>
                    <span class="pull-right cursor" ng-click="categories.deleteCategoryItem(item, category)"><i class="glyphicon glyphicon-trash"></i></span>
                    <div class="border"></div>
                </span>
            </div>
        </div>
    </div>
</div>

<script type="text/ng-template" id="addCategory.html">
    <div class="modal-header bg-green">
    <h4 class="modal-title">Add New Category </h4>
    </div>
    <div class="modal-body">
    <form role="form" class="form-horizontal bordered-group ng-pristine ng-valid">
    <div class="form-group">
    <label class="col-sm-2 control-label">Title</label>
    <div class="col-sm-10">
    <input type="text" class="form-control" ng-model="category.name">
    </div>
    </div>

    <div class="form-group">
    <label class="col-sm-2 control-label">Description</label>
    <div class="col-sm-10">
    <textarea rows="3" class="form-control" ng-model="category.desc"></textarea>
    </div>
    </div>
    <div class="modal-footer">
    <button class="btn btn-primary btn-sm" data-ng-click="ok()">OK</button>
    <button class="btn btn-warning btn-sm" ng-click="cancel()">Cancel</button>
    </div>
    </form>
    </div>
</script>

<script type="text/ng-template" id="editCategory.html">
<div class="modal-header bg-green">
    <h4 class="modal-title">Edit Category </h4>
</div>
<div class="modal-body">
    <form role="form" class="form-horizontal bordered-group ng-pristine ng-valid">
        <div class="form-group">
            <label class="col-sm-2 control-label">Title</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" ng-model="category.name">
            </div>
        </div>

        <div class="form-group">
            <label class="col-sm-2 control-label">Description</label>
            <div class="col-sm-10">
                <textarea rows="3" class="form-control" ng-model="category.desc"></textarea>
            </div>
        </div>
        <div class="modal-footer">
            <button class="btn btn-primary btn-sm" data-ng-click="ok()">OK</button>
            <button class="btn btn-warning btn-sm" ng-click="cancel()">Cancel</button>
        </div>
    </form>
</div>
</script>

<script type="text/ng-template" id="addCategoryItem.html">
<div class="modal-header bg-green">
    <h4 class="modal-title">Add New Item </h4>
</div>
<div class="modal-body">
    <form role="form" class="form-horizontal bordered-group ng-pristine ng-valid">
        <div class="form-group">
            <label class="col-sm-2 control-label">Title</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" ng-model="categoryItem.name">
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-2 control-label">Description</label>
            <div class="col-sm-10">
                <textarea rows="3" class="form-control" ng-model="categoryItem.desc"></textarea>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-2 control-label">Price</label>
            <div class="col-sm-3">
                <input type="text" class="form-control" ng-model="categoryItem.price" placeholder="€">  
            </div>  
        <label class="col-sm-3 control-label">Available for sale</label>
        <label class="switch switch-lg mb15 pull-left m-b-30 mt5">
             <input type="checkbox" checked="" ng-model="categoryItem.available">
             <span> <i class="handle"></i> </span>
         </label>
        </div>
        <div class="form-group">
            <div class="col-xs-2"></div>
            <div class="col-xs-9 m-b-30 drop drop-design" flow-init="uploadCategoryImage"
                 flow-name="uploadPhoto.flow"
                 flow-file-success="uploadImageSuccess( $file, $message, $flow )"
                 flow-file-added="imageAdded( $file, $event, $flow )"
                 flow-files-submitted="uploadImage( $files, $event, $flow )"
                 flow-file-error="uploadImageFailure( $file, $message, $flow )"
                 flow-file-progress="uploadImageProgress()"
                 flow-drop>
                <span> 
                    <img flow-img="$flow.files[0]" style="width: 75px;" class="img-float" ng-if="$flow.files.length > 0">
                    <span class="browse btn btn-orange"  flow-btn> <i class="glyphicon glyphicon-search"/> Browse</span>
                    <span style="color:#616161"><strong>OR </strong>Drag and drop your Item cover here</span>
                </span>
            </div>
        </div>
        <div class="modal-footer">
            <button class="btn btn-primary btn-sm" type="submit" data-ng-click="ok()">OK</button>
            <button class="btn btn-warning btn-sm" ng-click="cancel()">Cancel</button>
        </div>

    </form>
</div>
</script>

<script type="text/ng-template" id="editCategoryItem.html">
    <div class="modal-header bg-green">
    <h4 class="modal-title">Edit Item </h4>
    </div>
    <div class="modal-body">
    <form role="form" class="form-horizontal bordered-group ng-pristine ng-valid">
    <div class="form-group">
    <label class="col-sm-2 control-label">Title</label>
    <div class="col-sm-10">
    <input type="text" class="form-control" ng-model="categoryItem.name">
    </div>
    </div>

    <div class="form-group">
    <label class="col-sm-2 control-label">Description</label>
    <div class="col-sm-10">
    <textarea rows="3" class="form-control" ng-model="categoryItem.desc"></textarea>
    </div>
    </div>

    <div class="form-group">
        <label class="col-sm-2 control-label">Price</label>
        <div class="col-sm-3">
            <input type="text" class="form-control" ng-model="categoryItem.price">  
        </div>
        <label class="col-sm-3 control-label">Available for sale</label>
        <label class="switch switch-lg mb15 pull-left m-b-30 mt5">
             <input type="checkbox" checked="" ng-model="categoryItem.available">
            <span> <i class="handle"></i> </span>
        </label>
    </div>

    <div class="form-group">
            <div class="col-xs-3">
                <img ng-if="categoryItem.image" src="{{categoryItem.image}}" class="img-responsive">
            </div>
            <div class="col-xs-8 m-b-30 drop drop-design" flow-init="uploadCategoryImage"
                 flow-name="uploadPhoto.flow"
                 flow-file-success="uploadImageSuccess( $file, $message, $flow )"
                 flow-file-added="imageAdded( $file, $event, $flow )"
                 flow-files-submitted="uploadImage( $files, $event, $flow )"
                 flow-file-error="uploadImageFailure( $file, $message, $flow )"
                 flow-file-progress="uploadImageProgress()"
                 flow-drop>
                <span> 
                    <img flow-img="$flow.files[0]" style="width: 75px;" class="img-float" ng-if="$flow.files.length > 0">
                    <span class="browse btn btn-orange"  flow-btn> <i class="glyphicon glyphicon-search"/> Browse</span>
                    <span style="color:#616161"><strong>OR </strong>Drag and drop your Item cover here</span>
                </span>
            </div>
        </div>

    <div class="modal-footer">
    <button class="btn btn-primary btn-sm" ng-click="ok()">OK</button>
    <button class="btn btn-warning btn-sm" ng-click="cancel()">Cancel</button>
    </div>
    </form>
    </div>
</script>



