<div class="row mb25" ui-jq="checkBo" data-ng-controller="categoryCtrl as categories" ng-init="getCategoryList()">


    <div class="col-sm-12">
        <button data-ng-click="categories.addCategory()" class="btn btn-green mb20" type="button">
            <span class="fa fa-plus mr5"></span>
            <span>Add New Category</span>
        </button>
    </div>

    <div class="col-md-3" ng-repeat="category in categories.categoryList">
        <div class="panel panel-primary" ng-class="{'panel-success':$index % 4 == 1, 'panel-warning':$index % 4 == 2, 'panel-danger':$index % 4 == 3}">
            <div class="panel-heading">
                <div class="pull-left title-inner">
                    <span>{{category.name}}</span>
                </div>
                <div class="panel-controls">
                    <a href="javascript:;" class="panel-collapse" panel-control-collapse>
                        <i class="fa fa-arrow-down"></i>
                    </a>
                    <a href="javascript:;" class="ng-scope">
                        <i class="fa fa-pencil" ng-click="categories.editCategory(category)"></i>
                    </a>
                    <a href="javascript:;" class="ng-scope">
                        <i class="fa fa-plus" ng-click="categories.addCategoryItem(category)"></i>
                    </a>
                    <a href="javascript:;" class="ng-scope">
                        <i class="glyphicon glyphicon-trash" ng-click="categories.deleteCategory(category)"></i>
                    </a>
                </div>
            </div>
            <div class="panel-body body-overflow">
                <span ng-repeat="item in category.items">
                    <span class="cursor" ng-click="categories.editCategoryItem(item, category)">{{item.name}}</span>
                    <span class="pull-right cursor" ng-click="categories.deleteCategoryItem(item, category)"><i class="glyphicon glyphicon-trash"></i></span>
                    <div class="border"></div>
                </span>
            </div>
        </div>
    </div>
</div>

<script type="text/ng-template" id="addCategory.html">
    <div class="modal-header bg-green">
    <h4 class="modal-title">Add New Category </h4>
    </div>
    <div class="modal-body">
    <form role="form" class="form-horizontal bordered-group ng-pristine ng-valid" name="addCategoryForm">

    
    <div class="form-group">
    <label class="col-sm-2 control-label">Title<span style="color:red">*</span></label>
    <div class="col-sm-10">
    <div class="" ng-class="{'has-error': (addCategoryForm.title.$invalid && addCategoryForm.title.$dirty)}">
    <input type="text" name="title" class="form-control" ng-model="category.name" ng-required="true">
    </div>
    <div class="error,help-block has-error" ng-show="(addCategoryForm.title.$dirty) && addCategoryForm.title.$invalid"> 
    <span class="help-block" ng-show="addCategoryForm.title.$error.required">Required</span>
    </div>
    </div>
    </div>


    
    <div class="form-group">
    <label class="col-sm-2 control-label">Description<span style="color:red">*</span></label>
    <div class="col-sm-10">
    <div class="" ng-class="{'has-error': (addCategoryForm.desc.$invalid && addCategoryForm.desc.$dirty)}">
    <textarea name="desc" rows="3" class="form-control" ng-model="category.desc" ng-required="true"></textarea>
    </div>
    <div class="error,help-block has-error" ng-show="(addCategoryForm.desc.$dirty) && addCategoryForm.desc.$invalid"> 
    <span class="help-block" ng-show="addCategoryForm.desc.$error.required">Required</span>
    </div>
    </div>
    </div>


    <div class="modal-footer">
    <button class="btn btn-primary btn-sm" data-ng-click="ok()" type="submit" ng-disabled="addCategoryForm.$invalid">OK</button>
    <button class="btn btn-warning btn-sm" ng-click="cancel()">Cancel</button>
    </div>
    </form>
    </div>
</script>

<script type="text/ng-template" id="editCategory.html">
    <div class="modal-header bg-green">
    <h4 class="modal-title">Edit Category </h4>
    </div>
    <div class="modal-body">
    <form role="form" class="form-horizontal bordered-group ng-pristine ng-valid" name="editCategoryForm">


    <div class="form-group">
    <label class="col-sm-2 control-label">Title<span style="color:red">*</span></label>
    <div class="col-sm-10">
    <div class="" ng-class="{'has-error': (editCategoryForm.title.$invalid && editCategoryForm.title.$dirty)}">
    <input type="text" name="title" class="form-control" ng-model="category.name" ng-required="true" >
    </div>
    <div class="error,help-block has-error" ng-show="(editCategoryForm.title.$dirty) && editCategoryForm.title.$invalid"> 
    <span class="help-block" ng-show="editCategoryForm.title.$error.required">Required</span>
    </div>
    </div>
    </div>
    

    <div class="form-group">
    <label class="col-sm-2 control-label">Description<span style="color:red">*</span></label>
    <div class="col-sm-10">
    <div class="" ng-class="{'has-error': (editCategoryForm.desc.$invalid && editCategoryForm.desc.$dirty)}">
    <textarea  name="desc"  rows="3" class="form-control" ng-model="category.desc" ng-required="true"></textarea>
    </div>
    <div class="error,help-block has-error" ng-show="(editCategoryForm.desc.$dirty) && editCategoryForm.desc.$invalid"> 
    <span class="help-block" ng-show="editCategoryForm.desc.$error.required">Required</span>
    </div>
    </div>
    </div>

    <div class="modal-footer">
    <button class="btn btn-primary btn-sm" data-ng-click="ok()" type="submit" ng-disabled="editCategoryForm.$invalid">OK</button>
    <button class="btn btn-warning btn-sm" ng-click="cancel()">Cancel</button>
    </div>
    </form>
    </div>
</script>

<script type="text/ng-template" id="addCategoryItem.html">
<div class="modal-header bg-green">
    <h4 class="modal-title">Add New Item </h4>
</div>
<div class="modal-body">
    <form role="form" class="form-horizontal bordered-group ng-pristine ng-valid" name="addCategoryItemForm">
        <div class="form-group">
            <label class="col-sm-3 control-label">Title<span style="color:red">*</span></label>
            <div class="col-sm-9">

                <div class="" ng-class="{'has-error': (addCategoryItemForm.title.$invalid && addCategoryItemForm.title.$dirty)}">
                <input type="text" name="title" class="form-control" ng-model="categoryItem.name" ng-required="true">
                <div class="error,help-block has-error" ng-show="(addCategoryItemForm.title.$dirty) && addCategoryItemForm.title.$invalid"> 
                <span class="help-block" ng-show="addCategoryItemForm.title.$error.required">Required</span>
                </div>
                </div>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label">Description<span style="color:red">*</span></label>
            <div class="col-sm-9">
                <div class="" ng-class="{'has-error': (addCategoryItemForm.desc.$invalid && addCategoryItemForm.desc.$dirty)}">
                <textarea rows="3" name="desc" class="form-control" ng-model="categoryItem.desc" ng-required="true"></textarea>
                <div class="error,help-block has-error" ng-show="(addCategoryItemForm.desc.$dirty) && addCategoryItemForm.desc.$invalid"> 
                <span class="help-block" ng-show="addCategoryItemForm.desc.$error.required">Required</span>
                </div>
                </div>

            </div>
        </div>
        <div class="form-group">
           <label class="col-sm-3 control-label">Tag your product<span style="color:red">*</span></label>
           <div class="col-sm-9">
               <div class="" ng-class="{'has-error': (addCategoryItemForm.tag_name.$invalid && addCategoryItemForm.tag_name.$dirty)}">
                <oi-select name="tag_name" class=""
                    oi-options="tag.name for tag in tags track by tag.id"
                    ng-model="categoryItem.tag"
                    multiple ng-required="true">
                </oi-select>
                <div class="error,help-block has-error" ng-show="(addCategoryItemForm.tag_name.$dirty) && addCategoryItemForm.tag_name.$invalid"> 
                    <span class="help-block" ng-show="addCategoryItemForm.tag_name.$error.required">Required</span>
                </div>
                </div> 
            </div>
        </div>
        

        <div class="form-group">
            <label class="col-sm-3 control-label">No. of Serve<span style="color:red">*</span></label>
            <div class="col-sm-9">
                <div class="" ng-class="{'has-error': (addCategoryItemForm.no_of_serve.$invalid && addCategoryItemForm.no_of_serve.$dirty)}">
                <input  name="no_of_serve" class="form-control" ng-model="categoryItem.qty" ng-pattern="/^[0-9]{1,45}$/" ng-required="true">
                <div class="error,help-block has-error" ng-show="(addCategoryItemForm.no_of_serve.$dirty) && addCategoryItemForm.no_of_serve.$invalid"> 
                    <span class="help-block" ng-show="addCategoryItemForm.no_of_serve.$error.required">Required</span>
                    <span class="help-block" ng-show="addCategoryItemForm.no_of_serve.$error.pattern">Invalid Number</span>
                </div>
                </div>
        </div>
        </div>


        <div class="form-group">
            <label class="col-sm-3 control-label">Price<span style="color:red">*</span></label>
            <div class="col-sm-9">
                <div class="" ng-class="{'has-error': (addCategoryItemForm.price.$invalid && addCategoryItemForm.price.$dirty)}">
                <input name="price" class="form-control" ng-model="categoryItem.price" placeholder="€" ng-pattern="/^[0-9]{1,45}$/" ng-required="true">  
                <div class="error,help-block has-error" ng-show="(addCategoryItemForm.price.$dirty) && addCategoryItemForm.price.$invalid"> 
                    <span class="help-block" ng-show="addCategoryItemForm.price.$error.required">Required</span>
                    <span class="help-block" ng-show="addCategoryItemForm.price.$error.pattern">Invalid Number</span>
                </div>
                </div>
            </div>  
        </div>



        <div class="form-group">
            <label class="col-sm-3 control-label" style="padding-top: 15px;">Available for sale</label>
            <div class="col-sm-9">
                <label class="switch switch-lg mb15 pull-left m-b-30 mt5">
                    <input type="checkbox" checked="" ng-model="categoryItemavailable">
                    <span> <i class="handle"></i> </span>
                </label>
            </div>
        </div>


        <div class="form-group"">
             <label class="col-sm-3 control-label">Item Cover<span style="color:red">*</span></label>
            <div class="col-xs-6 m-b-30 drop drop-design" flow-init="uploadCategoryImage"
                 flow-name="uploadPhoto.flow"
                 flow-file-success="uploadImageSuccess( $file, $message, $flow )"
                 flow-file-added="imageAdded( $file, $event, $flow )"
                 flow-files-submitted="uploadImage( $files, $event, $flow )"
                 flow-file-error="uploadImageFailure( $file, $message, $flow )"
                 flow-file-progress="uploadImageProgress()"
                 flow-drop>
                <span> 
                    <img ng-show="showNewItemUploadedImage" flow-img="$flow.files[0]" style="width: 100px;height: 100px;" class="img-float" ng-if="$flow.files.length > 0">
                    <span class="browse btn btn-orange"  flow-btn> <i class="glyphicon glyphicon-search"/> Browse</span>
                    <span style="color:#616161"><strong>OR </strong>Drag and drop your Item cover here</span> 
                </span>
                <!-- <span ng-show="showNewItemRemove" ng-click="removeNewItemImage()" class="browse btn btn-orange" style="margin-bottom: 50px;"> <i class="glyphicon glyphicon-trash"> Remove</span></i> -->

            </div>
            <div class="col-xs-3"></div>

            <div class="col-xs-offset-3 col-xs-9">
                <div ng-show="showProgressBar">Uploading...</div>
            </div>
        </div>
        <div class="modal-footer">
            <button class="btn btn-primary btn-sm" type="submit" data-ng-click="ok()" type="submit" ng-disabled="addCategoryItemForm.$invalid || !showNewItemUploadedImage">OK</button>
            <button class="btn btn-warning btn-sm" ng-click="cancel()">Cancel</button>
        </div>

    </form>
</div>
</script>

<script type="text/ng-template" id="editCategoryItem.html">
    <div class="modal-header bg-green">
    <h4 class="modal-title">Edit Item </h4>
    </div>
    <div class="modal-body">
    <form role="form" class="form-horizontal bordered-group ng-pristine ng-valid" name="editCategoryItemForm">


    <div class="form-group">
    <label class="col-sm-3 control-label">Title<span style="color:red">*</span></label>
    <div class="col-sm-9">
    <div class="" ng-class="{'has-error': (editCategoryItemForm.title.$invalid && editCategoryItemForm.title.$dirty)}">
    <input type="text" name="title" class="form-control" ng-model="categoryItem.name" ng-required="true">
    </div>
    <div class="error,help-block has-error" ng-show="(editCategoryItemForm.title.$dirty) && editCategoryItemForm.title.$invalid"> 
            <span class="help-block" ng-show="editCategoryItemForm.title.$error.required">Required</span>
    </div>
    </div>
    </div>

    <div class="form-group">
    <label class="col-sm-3 control-label">Description<span style="color:red">*</span></label>
    <div class="col-sm-9">
    <div class="" ng-class="{'has-error': (editCategoryItemForm.desc.$invalid && editCategoryItemForm.desc.$dirty)}">
    <textarea name="desc" rows="3" class="form-control" ng-model="categoryItem.desc" ng-required="true"></textarea>
    </div>
    <div class="error,help-block has-error" ng-show="(editCategoryItemForm.desc.$dirty) && editCategoryItemForm.desc.$invalid"> 
            <span class="help-block" ng-show="editCategoryItemForm.desc.$error.required">Required</span>
    </div>
    </div>
    </div>


    <div class="form-group">
            <label class="col-sm-3 control-label">Tag your product<span style="color:red">*</span></label>
            <div class="col-sm-9">
            <div class="" ng-class="{'has-error': (editCategoryItemForm.tag_product.$invalid && editCategoryItemForm.tag_product.$dirty)}">
            <oi-select name="tag_product" class=""
                oi-options="tag.name for tag in tags track by tag.id"
                ng-model="categoryItem.tag"
                multiple ng-required="true">
            </oi-select>
            </div>
            <div class="error,help-block has-error" ng-show="(editCategoryItemForm.tag_product.$dirty) && editCategoryItemForm.tag_product.$invalid"> 
            <span class="help-block" ng-show="editCategoryItemForm.tag_product.$error.required">Required</span>
    </div>
    </div>
    </div>


    <div class="form-group">
    <label class="col-sm-3 control-label">No. of Serve<span style="color:red">*</span></label>
    <div class="col-sm-9">
    <div class="" ng-class="{'has-error': (editCategoryItemForm.no_of_serve.$invalid && editCategoryItemForm.no_of_serve.$dirty)}">
    <input name="no_of_serve" class="form-control" ng-model="categoryItem.qty" ng-pattern="/^[0-9]{1,45}$/" ng-required="true">
   <div class="error,help-block has-error" ng-show="(editCategoryItemForm.no_of_serve.$dirty) && editCategoryItemForm.no_of_serve.$invalid"> 
                    <span class="help-block" ng-show="editCategoryItemForm.no_of_serve.$error.required">Required</span>
                    <span class="help-block" ng-show="editCategoryItemForm.no_of_serve.$error.pattern">Invalid Number</span>
            </div>
            </div>
    </div>
    </div>

    <div class="form-group">
    <label class="col-sm-3 control-label">Price<span style="color:red">*</span></label>
    <div class="col-sm-9">
    <div class="" ng-class="{'has-error': (editCategoryItemForm.price.$invalid && editCategoryItemForm.price.$dirty)}">
    <input name="price" class="form-control" ng-model="categoryItem.price" ng-pattern="/^[0-9]{1,45}$/" ng-required="true">  
    <div class="error,help-block has-error" ng-show="(editCategoryItemForm.price.$dirty) && editCategoryItemForm.price.$invalid"> 
                    <span class="help-block" ng-show="editCategoryItemForm.price.$error.required">Required</span>
                    <span class="help-block" ng-show="editCategoryItemForm.price.$error.pattern">Invalid Number</span>
            </div>
            </div>
    </div>
    </div>


    <div class="form-group">
    <label class="col-sm-3 control-label" style="padding-top: 15px;">Available for sale</label>
    <div class="col-sm-9">
    <label class="switch switch-lg mb15 pull-left m-b-30 mt5">
    <input type="checkbox" checked="" ng-model="categoryItem.available">
    <span> <i class="handle"></i> </span>
    </label>
    </div>
    </div>

    <div class="form-group">
    <label class="col-sm-3 control-label">Item Cover<span style="color:red">*</span></label>
    <div class="col-xs-6 m-b-30 drop drop-design" flow-init="uploadCategoryImage"
    flow-name="uploadPhoto.flow"
    flow-file-success="uploadImageSuccess( $file, $message, $flow )"
    flow-file-added="imageAdded( $file, $event, $flow )"
    flow-files-submitted="uploadImage( $files, $event, $flow )"
    flow-file-error="uploadImageFailure( $file, $message, $flow )"
    flow-file-progress="uploadImageProgress()"
    flow-drop>
    <span> 
    <img flow-img="$flow.files[0]" style="width:100px;height:100px;" class="img-float" ng-if="$flow.files.length > 0">
    <img ng-if="showOldItemImage" src="{{categoryItem.image}}" class="img-float img-responsive" style="height:100px;width:100px;">
    <span class="browse btn btn-orange"  flow-btn> <i class="glyphicon glyphicon-search"/> Browse</span>
    <span style="color:#616161"><strong>OR </strong>Drag and drop your Item cover here</span>
    </span>
    </div>
    <div class="col-xs-3">
    <!-- <span>
    <img ng-if="categoryItem.image" src="{{categoryItem.image}}" class="img-responsive" style="height: 150px;width: 150px;">
    <i ng-show="!showDeleteIcon" class="glyphicon glyphicon-trash" style="position: absolute;left: 160px;cursor: pointer;" ng-click="deleteItemImage()"/>
    </span> -->
    </div>

    <div class="col-xs-offset-3 col-xs-9">
    <div ng-show="showProgressBar">Uploading...</div>
    </div>
    </div>

    <div class="modal-footer">
    <button class="btn btn-primary btn-sm" ng-click="ok()" type="submit" ng-disabled="editCategoryItemForm.$invalid">OK</button>
    <button class="btn btn-warning btn-sm" ng-click="cancel()">Cancel</button>
    </div>
    </form>
    </div>
</script>



