<nav class="footer-right">
  <ul class="nav">
    
    <li>
      <a href="javascript:;" class="scroll-up" scroll-up>
        <i class="fa fa-angle-up"></i>
      </a>
    </li>
  </ul>
</nav>

<nav class="footer-left">
  <ul class="nav text-center">
    <li class="copyright-footer">
      <a href="javascript:;">{{ 'footer.copyright'  | translate }} <i class="fa fa-copyright"></i> <span>{{ 'footer.online_catering'  | translate }}</span> {{app.year}}. {{ 'footer.all_right_reserved'  | translate }}</a>
    </li>
   
  
  </ul>
</nav>
