<div class="col-sm-2 inner-space-logo">

  <!-- toggle offscreen menu -->

  <!-- /toggle offscreen menu -->

  <!-- logo -->
  <div class="brand-logo" style="cursor:pointer"  >
    <img data-ng-src="images/LOGO.png"" ui-sref="app.apps.calendar" height="auto" width="100%" alt="">
    <!-- <span style="font-family: Lato bold;color: white;font-weight: bolder;">ONLINE CATERING</span> -->
  </div>
  <!-- /logo -->

  <!-- toggle chat sidebar small screen-->

  <!-- /toggle chat sidebar small screen-->

</div>



<ul class="nav navbar-nav navbar-right hidden-xs inner-space">
  <li>
    <a href="javascript:;" quick-launch>
    <p class="hamburger-icon v2">
       <span></span>
      <span></span>
      <span></span>
      </p>
    </a>
  </li>

  <li class="dropdown" dropdown>
    <a href="javascript:;" class="dropdown-toggle" dropdown-toggle>
      <img data-ng-src="{{user.profile_pic}}" class="header-avatar img-circle ml10" alt="" title="" fallback-src="images/avatar.jpg" ng-if="user.profile_pic">
      <img src="images/avatar.jpg" class="header-avatar img-circle ml10" alt="" title=""  ng-if="!user.profile_pic">
      <span class="pull-left user-name">
        {{user.name}}
      </span>
    </a>
    <ul class="dropdown-menu user-inner">
     
      <li>
        <a href="javascript:;">Help</a>
      </li>
      <li>
        <a ng-click="logoutUser()">Logout</a>
      </li>
    </ul>

  </li>

 
</ul>
