<div class="container">
    <div class="quick-launcher-inner">
<!--        <a href="javascript:;" class="close" quick-launch>×</a>-->
        <div class="css-table-xs-dashboard">
            <div class="col">
                <a ui-sref="app.apps.admin">
                    <i class="fa fa-trophy text-white"></i>
                    <span class="text-white">Dashboard</span>
                </a>
            </div>
            <div class="col">
                <a ui-sref="app.apps.addCaterer">
                    <i class="fa fa-user text-white"></i>
                    <span class="text-white">Caterer</span>
                </a>
            </div>
            <div class="col">
                <a ui-sref="app.apps.addUser">
                    <i class="fa fa-user text-white"></i>
                    <span class="text-white">User</span>
                </a>
            </div>
<!--            <div class="col">
                <a ui-sref="app.apps.c3">
                    <i class="fa fa-glass text-white"></i>
                    <span class="text-white">Report</span>
                </a>
            </div>-->
            <div class="col">
                <a ui-sref="app.apps.addByAdmin">
                    <i class="fa fa-plus-circle text-white"></i>
                    <span class="text-white">Add</span>
                </a>
            </div>

            <div class="col">
                <a ui-sref="app.apps.adminReport">
                    <i class="fa fa-file text-white"></i>
                    <span class="text-white">Report</span>
                </a>
            </div>
        </div>
    </div>
</div>




