/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 13 May, 2016, 10:18:34 AM
    Author     : Umang
*/

.drop {
    color: white;
    padding: 25px;
    height: 150px;
    border: 2px #bbbbbb dashed;
    border-radius: 5px;
    line-height: 34px;
}

oi-select .select-search-list-item_selection {
    background-color: #7bc147;
}

.reportHead {
	text-align: center;
}

.reportMenu {
	display: block;
	padding: 10px 0px;
    font-size: 15px;
}

.reportMenu select {
	height: 34px;
}

.reportMenu button {
}

.reportMenu .inputDatePicker {
	display: inline-block;
    width: inherit;
    height: 36px;
}