/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 13 May, 2016, 10:18:34 AM
    Author     : Umang
*/

.drop {
    color: white;
    padding: 25px;
    height: 150px;
    border: 2px #bbbbbb dashed;
    border-radius: 5px;
    line-height: 34px;
}

oi-select .select-search-list-item_selection {
    background-color: #7bc147;
}

.reportHead {
	text-align: center;
}

.reportMenu {
	display: block;
	padding: 10px 0px;
    font-size: 15px;
}

.reportMenu select {
	height: 34px;
}

.reportMenu button {
}

.reportMenu .inputDatePicker {
	display: inline-block;
    width: inherit;
	height: 36px;
}
.tableHeader {
	    background-color: #dddddd;
}
    
.tableHeader th{
	text-align: center;
}

@media screen and (max-width: 980px){
	
}

.reportMenu .datePicker {
	display: inline-block;
}



@media screen and (max-width: 980px){

	.reportHead {
		text-align: left;
	}
	.reportMenu {
		margin-left: 15px;
	}
	.reportMenu .datePicker {
		display: block;
		margin-top: 10px;
	}
	.reportMenu button {
		width: 130px;
	}
	.pdf {
		width: 90px !important;
	}
	.excel {
		width: 90px !important;
	}
	
}

.admin {
	
}

.admin .createUserCaterer{
	display: block;
}

.addAdminTags {
	display: inline-flex;
	padding: 10px;
    margin: 10px;
}
.addCuisines {
	display: inline-block;
	padding: 10px;
    margin: 10px;
    background: #fff;
    width: 180px;
}
.addAdminTags .repeat {
	overflow: auto;
	height: 215px;
	margin: 10px 0px;
	font-family: Roboto;
    font-size: 16px;
}

.addSpecialNeeds {
	display: inline-block;
	padding: 10px;
    margin: 10px;
    background: #fff;
    width: 180px;
}
.addTypeOfEvents {
	display: block;
	padding: 10px;
    margin: 10px;
    background: #fff;
    width: 180px;
}
.addServicesOffered {
	display: block;
	padding: 10px;
    margin: 10px;
    background: #fff;
    width: 180px;
}
.addTypeOfServices {
	display: block;
	padding: 10px;
    margin: 10px;
    background: #fff;
    width: 180px;
}

.addAdminTags button {
	width: 100%;
}

.repeat .repeatElement {
	cursor: pointer;
}

.repeat .repeatElement:hover {
	cursor: pointer;
	color: black;
}

.companyInfoHeader .left {
	text-align: left;
    margin-left: 15px;
    margin-bottom: 15px;
    font-family: Roboto;
}

.companyInfoHeader .right {
	float: right;
	margin-right: 15px;
    margin-bottom: 15px;
    font-family: Roboto;
}